doctype html

html(ng-app="laborantAdmin" ng-controller="commonController")
  head
    title Hello there!
    base(href='/')

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta#viewport(name='viewport', content='width=device-width, initial-scale=1')

    meta(itemprop='name', content='Visual Style Guide — Web Starter Kit')
    meta(itemprop='description', content='Visual style guide used by this site.')
    meta(name='description', content='Visual style guide used by this site.')

    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=cyrillic,latin' rel='stylesheet' type='text/css')
    // bower:css
    link(rel='stylesheet', href='/public/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/public/bower_components/font-awesome/css/font-awesome.css')
    // endbower
    // injector:css
    link(rel="stylesheet" href="/public/app/experiments/styles/main.css")
    link(rel="stylesheet" href="/public/common/styles/centaurus_elements.css")
    link(rel="stylesheet" href="/public/common/styles/centaurus_layout.css")
    // endinjector
  body.theme-whbl.theme-wrapper
    header#header-navbar.navbar
      .container
        #header-nav.nav-no-collapse.pull-right
            ul.nav.navbar-nav.pull-right
              li.mobile-search
                a.btn
                  i.fa.fa-search
                .drowdown-search
                  form(role="search")
                    .form-group
                      input.form-control(type="text", placeholder="Search...")
                      i.fa.fa-search.nav-search-icon
              li.dropdown.hidden-xs
                a.btn.dropdown-toggle(data-toggle="dropdown")
                  i.fa.fa-warning
                  span.count 8
                ul.dropdown-menu.notifications-list
                  li.pointer
                    .pointer-inner
                      .arrow
                  li.item-header You have 6 new notifications
                  li.item
                    a(href="#")
                      i.fa.fa-comment
                      span.content New comment on &#8216;Awesome P...
                      span.time
                        i.fa.fa-clock-o
                        | 13 min.
                  li.item-footer
                    a(href="#")
                      | View all notifications

              li.hidden-xs
                a.btn
                  i.fa.fa-cog
              li.dropdown.profile-dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  img(src="http://placehold.it/35x35", alt="")
                  span.hidden-xs User
                  b.caret
                ul.dropdown-menu.pull-left
                  li
                    a(href="user-profile.html")
                      i.fa.fa-user
                      | Profile
                  li
                    a(href="#")
                      i.fa.fa-cog
                      | Settings
                  li
                    a(href="#")
                      i.fa.fa-envelope-o
                      | Messages
                  li
                    a(href="#")
                      i.fa.fa-power-off
                      | Logout
              li.hidden-xxs
                a.btn
                  i.fa.fa-power-off


    #page-wrapper.container
      #content-wrapper(ng-view="")


  // bower:js
  script(src='/public/bower_components/jquery/jquery.js')
  script(src='/public/bower_components/modernizr/modernizr.js')
  script(src='/public/bower_components/angular/angular.js')
  script(src='/public/bower_components/angular-route/angular-route.js')
  script(src='/public/bower_components/angular-animate/angular-animate.js')
  script(src='/public/bower_components/bootstrap/dist/js/bootstrap.js')
  // endbower

  // injector:js
  script(src="/public/app/common/index.js")
  script(src="/public/app/experiments/index.js")
  script(src="/public/app/common/controllers/commonController.js")
  script(src="/public/app/experiments/controllers/listController.js")
  script(src="/public/app/app.js")
  // endinjector

  // injector:livereload
  script(src="/public/livereload.js")
  // endinjector
