doctype html

html(ng-app="laborantAdmin" ng-controller="commonController")
  head
    title Hello there!
    base(href='/')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=cyrillic,latin' rel='stylesheet' type='text/css')
    // bower:css
    // endbower
    // injector:css
    link(rel="stylesheet" href="/public/app/experiments/styles/main.css")
    link(rel="stylesheet" href="/public/common/styles/components.css")
    link(rel="stylesheet" href="/public/common/styles/main.css")
    // endinjector
  body(ng-class="{'open': navOpened}")

    header.app-bar.promote-layer(ng-class="{'open': navOpened}")
      .app-bar-container
          button.menu(ng-click="navOpened = !navOpened")
            img(src="public/common/images/hamburger.svg" alt=Menu)
          h1.logo
            | Web Starter Kit
          section.app-bar-actions
            // anything here

    nav.navdrawer-container.promote-layer(ng-class="{'open': navOpened}")
      h4 Navigation
      ul
        li(ng-repeat="action in actions")
          a(ng-href="{{action.link}}") {{action.title}}

    main(ng-click="navOpened = false")
      div(ng-view="")

  // bower:js
  script(src='/public/bower_components/jquery/jquery.js')
  script(src='/public/bower_components/modernizr/modernizr.js')
  script(src='/public/bower_components/angular/angular.js')
  script(src='/public/bower_components/angular-route/angular-route.js')
  script(src='/public/bower_components/angular-animate/angular-animate.js')
  // endbower

  // injector:js
  script(src="/public/app/common/index.js")
  script(src="/public/app/experiments/index.js")
  script(src="/public/app/common/controllers/commonController.js")
  script(src="/public/app/experiments/controllers/listController.js")
  script(src="/public/app/app.js")
  // endinjector

  // injector:livereload
  script(src="/public/livereload.js")
  // endinjector
